<!DOCTYPE html>
<html lang="en">
<head>
  <title>LearnWorlds Test SPA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<div id="container_popup" style="width:100%; background-color: red; background-color: rgba(255,255,255,0.8); z-index:9999; display:none; top: 0; left: 0; position: fixed; height: 100%;">
<div id="content" style="width:25%; background-color: #ccc; opacity: 1; display:block; top: 25%; left: 25%; position: fixed; height: 50%"></div>
</div>
<div class="container">
<div style="height:2000px;">
  
</div>
</div>
</body>
<script type="text/javascript">
  
    function createModalForm() {
      
      var html = '';
      var lblfullname = '{{ fullname }}';
      var lblemail = '{{ email }}';
      var lblaccept = '{{ hasaccept }}';
      var formaction = '{{ formaction }}';
      
      html += '<div class="col-xs-12">';
      html +='<div style="top:0px;right:0px;float:right;cursor:pointer;" id="buttonclose"><i class="fa fa-window-close" aria-hidden="true"></i></div>';
      html +='<form name="userreg" action="' + formaction + '" method="POST" id="userreg">';
      html += '<div class="col-xs-6 form-group">';
      html += '<label for="fullname">' + lblfullname + '</label>';
      html += '<input type="text" name="fullname" id="fullname" required/></div>';
      html += '<div class="col-xs-6 form-group">';
      html += '<label for="email">' + lblemail + '</label>';
      html += '<input type="text" name="email" id="email" required/></div>';      
      html += '<div class="col-xs-6 form-group">';
      html += '<label for="hasaccept">' + lblaccept + '</label>';
      html += '<input type="checkbox" name="hasaccept" id="hasaccept" /></div>';
      html += '<div class="col-xs-6 form-group">';
      html += '<input type="submit" name="submit" id="submit" /></div>';        
      html += '</div>';      
      html += '</div>';

      return html;            
    }
    
    jQuery(document).ready(function() {
      
      var mainw = $(document).height();
      var whasshown = false;
      
      $(document).scroll(function() {
        var curpos = $(document).scrollTop();
        if (whasshown == false) {
          if (curpos >= (mainw / 2)) {
            whasshown = true;
            $('#content').html('');
            var cont = createModalForm();
            $('#content').html(cont);
            $('#container_popup').fadeIn(500);
          }          
        }
      });
      
      $(document).on('click','#buttonclose',function(e) {
            $('#content').html('');
            $('#container_popup').fadeOut(500);
      });
      
      $(document).on('click','#submit',function(e) {
        e.preventDefault();
        
        var ischecked = $('input[type=checkbox]').prop('checked');
        var useraccept = 0;
        
        if (ischecked) {
          var useraccept = 1;
        }
        
        $.ajax({
            url: $('#userreg').attr('action'),
            datatype: 'json',
            data: {
              fullname: $('#fullname').val(),
              email: $('#email').val(),
              hasaccept: useraccept,
              },
            method: 'POST',
            success: function (json) {
                var result = $.parseJSON(json);
                var html = '';
                if (result['success'] == true) {
                    $('#content').html('');
                    $('#container_popup').fadeOut(500);                  
                }
            } //end function
        }); //end ajax                
      });      
    });
    
</script>
</html>