<!DOCTYPE html>
<html lang="en">
<head>
  <title>LearnWorlds Test SPA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<div class="container">
<table class="table-hover table-bordered">
  <tbody>
  <tr>
    <th>{{ fullname }}</th>
    <th>{{email }}</th>
    <th>{{ dateofreg }}</th>
    <th>{{ hasaccept }}</th>
  </tr>
  {% for user in userlist %}
      <tr>
        <td>{{ user.fullname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_registration }} -{{ user.time_registration }}</td>
        {% if user.hasaccept == 1 %}
          <td><i class="fas fa-check"></i></td>
        {% else %}
          <td><i class="fas fa-minus-circle"></i></td>
        {% endif %}
      </tr>
  {% endfor %}
  </tbody>  
</table>
</div>
</body>
<script type="text/javascript">
  
    jQuery(document).ready(function() {

    });
    
</script>
</html>